In [1]:
pip install wordcloud

Requirement already satisfied: wordcloud in c:\users\kmmeh\anaconda3\lib\site-packages (1.8.1)
Requirement already satisfied: pillow in c:\users\kmmeh\anaconda3\lib\site-packages (from wordcloud) (8.0.1)
Requirement already satisfied: matplotlib in c:\users\kmmeh\anaconda3\lib\site-packages (from wordcloud) (3.3.2)
Requirement already satisfied: numpy>=1.6.1 in c:\users\kmmeh\anaconda3\lib\site-packages (from wordcloud) (1.19.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kmmeh\anaconda3\lib\site-packages (from matplotlib->wordcloud) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\kmmeh\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.4.7)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\kmmeh\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in c:\users\kmmeh\anaconda3\lib\site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\kmmeh\anaconda3\lib\site-packages (from matplotlib->wordcloud) (2.8.1)
Requirement already satisfied: six in c:\users\kmmeh\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
import re
from sklearn.model_selection import train_test_split
import nltk
import string
import warnings
%matplotlib inline
warnings.filterwarnings('ignore')
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score, accuracy_score
from sklearn.svm import SVC
from wordcloud import WordCloud
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [5]:
df = pd.read_csv('C:/Users/kmmeh/OneDrive/Desktop/all-data.csv', names=['Label','Text'],encoding='latin-1')
df.head()

      Label                                               Text
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [6]:
print((df.shape))
df.head

(4846, 2)

<bound method NDFrame.head of          Label                                               Text
0      neutral  According to Gran , the company has no plans t...
1      neutral  Technopolis plans to develop in stages an area...
2     negative  The international electronic industry company ...
3     positive  With the new production plant the company woul...
4     positive  According to the company 's updated strategy f...
...        ...                                                ...
4841  negative  LONDON MarketWatch -- Share prices ended lower...
4842   neutral  Rinkuskiai 's beer sales fell by 6.5 per cent ...
4843  negative  Operating profit fell to EUR 35.4 mn from EUR ...
4844  negative  Net sales of the Paper segment decreased to EU...
4845  negative  Sales in Finland decreased by 10.5 % in Januar...

[4846 rows x 2 columns]>